<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/reg">Sign Up</a>
    <a href="#about">Dashboard</a>
    <a href="/secret">Secret</a>
    <a href="/logout">Log out</a>
  </div>
